<div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="100%" class="title">
        </div>
        <div fxFlex="50%">
            <mat-form-field class="content-card">
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" #input>
            </mat-form-field>
        </div>
        <div fxFlex="50%">
            <button mat-fab color="primary" (click)="openAdd()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <div fxFlex="100%">
            <mat-card class="example-card">
                <table mat-table [dataSource]="dataSource" class="content-card">

                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> ID </th>
                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>

                    <ng-container matColumnDef="nom">
                        <th mat-header-cell *matHeaderCellDef> Nom </th>
                        <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
                    </ng-container>

                    <ng-container matColumnDef="prenom">
                        <th mat-header-cell *matHeaderCellDef> Prénom </th>
                        <td mat-cell *matCellDef="let element"> {{element.prenom}} </td>
                    </ng-container>

                    <ng-container matColumnDef="adresse">
                        <th mat-header-cell *matHeaderCellDef> Adresse </th>
                        <td mat-cell *matCellDef="let element"> {{element.adresse}} </td>
                    </ng-container>

                    <ng-container matColumnDef="telephone_1">
                        <th mat-header-cell *matHeaderCellDef> Portable 1</th>
                        <td mat-cell *matCellDef="let element"> {{element.telephone_1}}</td>
                    </ng-container>

                    <ng-container matColumnDef="telephone_2">
                        <th mat-header-cell *matHeaderCellDef> Portable 2 </th>
                        <td mat-cell *matCellDef="let element">{{element.telephone_2}}</td>
                    </ng-container>

                    <ng-container matColumnDef="Actions">
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td mat-cell *matCellDef="let element" style="width: 150px;">
                            <button mat-raised-button color="primary" (click)="openEdit(element.id)">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-raised-button color="warn" (click)="onDelete(element.id)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </mat-card>
        </div>
    </div>
</div>