td {
    padding: 10px;
}

button {
    /*Change the width as much as you like, but make sure 
    margin-left and margin-right + width = 100%*/
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}