<div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="50%">
            <app-crud-product></app-crud-product>
        </div>
        <div fxFlex="50%">
            <app-graphique-product></app-graphique-product>
        </div>
    </div>
</div>