<mat-card>
    <form [formGroup]="Editform" (ngSubmit)="onSubmit(client.value,recettes.value, date.value, heure.value)">
        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Client</mat-label>
                        <input matInput formControlName="client" value="{{dataSale.client}}" #client>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Commande</mat-label>
                        <input matInput formControlName="recettes" value="{{dataSale.recettes}}" #recettes>
                    </mat-form-field>
                </td>
            </tr>
        </table>
        <p>
            <mat-form-field class="example-full-width">
                <mat-label>Date</mat-label>
                <textarea matInput formControlName="date" value="{{dataSale.date}}" #date></textarea>
            </mat-form-field>
        </p>

        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Heure</mat-label>
                        <input matInput formControlName="heure" value="{{dataSale.heure}}" #heure>
                    </mat-form-field>
                </td>
            </tr>
        </table>
        <button type="submit" mat-button color="primary" [mat-dialog-close]="true">Modifier</button>
    </form>
</mat-card>