<div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="100%">
            <app-crud-recipe></app-crud-recipe>
        </div>
        <!-- <div fxFlex="50%">
            <app-detail-recipe></app-detail-recipe>
        </div> -->
    </div>
</div>