<div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="50%">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Graphique des ventes</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <app-graphique-sale></app-graphique-sale>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex="50%">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Graphique des prévisions de vente</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <app-graphique-prevision></app-graphique-prevision>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex="100%">
            <mat-tab-group mat-align-tabs="center">
                <mat-tab label="Commandes"></mat-tab>
            </mat-tab-group>
        </div>
        <div fxFlex="33%">
            <app-customer-choice></app-customer-choice>
        </div>
        <div fxFlex="33%">
            <app-recipe-choice></app-recipe-choice>
        </div>
        <div fxFlex="33%">
            <mat-card class="example-card">
                recap commande
            </mat-card>
        </div>
    </div>
</div>