<div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="50%">
            <mat-form-field class="content-card">
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" #input>
            </mat-form-field>
        </div>
        <div fxFlex="50%">
            <button mat-fab color="primary" (click)="openAdd()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <div fxFlex="100%">
            <mat-card class="example-card">
                <table mat-table [dataSource]="dataSource" class="content-card">

                    <ng-container matColumnDef="client">
                        <th mat-header-cell *matHeaderCellDef> Client </th>
                        <td mat-cell *matCellDef="let element"> {{element.client}} </td>
                    </ng-container>

                    <ng-container matColumnDef="recettes">
                        <th mat-header-cell *matHeaderCellDef> Recettes </th>
                        <td mat-cell *matCellDef="let element">
                            <ul *ngFor="let item of element.recettes">
                                <li>ID Recette : {{item.IDRecette}}</li>
                                <li> Quantité : {{item.quantite}}</li>
                            </ul>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef> Date </th>
                        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                    </ng-container>

                    <ng-container matColumnDef="heure">
                        <th mat-header-cell *matHeaderCellDef>Heure </th>
                        <td mat-cell *matCellDef="let element"> {{element.heure}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Actions">
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td mat-cell *matCellDef="let element" style="width: 150px;">
                            <button mat-raised-button color="primary" (click)="openEdit(element.id)">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-raised-button color="warn" (click)="onDelete(element.id)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </mat-card>
        </div>
    </div>
</div>