<mat-card>
    <form [formGroup]="Editform" (ngSubmit)="onSubmit(Editform.value)">
        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Nom</mat-label>
                        <input matInput formControlName="intitule" value="{{dataRecipe.intitule}}" #intitule>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Prix</mat-label>
                        <input matInput formControlName="prix" value="{{dataRecipe.prix}}" #prix>
                    </mat-form-field>
                </td>
            </tr>
        </table>
        <table class="example-full-width" cellspacing="0" formGroupName="ingredients">
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>ID Produit</mat-label>
                        <input matInput formControlName="IDProduit" #IDProduit>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Quantité</mat-label>
                        <input matInput formControlName="quantite" #quantite>
                    </mat-form-field>
                </td>
            </tr>
        </table>

        <button type="submit" mat-button color="primary" [mat-dialog-close]="true">Modifier</button>
    </form>
</mat-card>