<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <mat-toolbar> <img class="logo" src="https://i1.wp.com/lespigaou.com/wp-content/uploads/2020/06/cropped-Favicon.png?fit=512%2C512&ssl=1"></mat-toolbar>
        <mat-nav-list>
            <a mat-list-item routerLink="dashboard">Dashboard</a>
            <a mat-list-item routerLink="customer">Client</a>
            <a mat-list-item routerLink="product">Produit</a>
            <a mat-list-item routerLink="sale">Vente</a>
            <a mat-list-item routerLink="recipe">Recette</a>
            <a mat-list-item routerLink="stock">Stock</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
            <div class="bouton">
                <button mat-icon-button>
        <mat-icon>dashboard</mat-icon>
      </button>
                <button mat-icon-button>
        <mat-icon>feedback</mat-icon>
      </button>
            </div>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>