.sidenav-container {
    height: 100%;
    background-image: url("src/assets/fond.jpg");
}

.sidenav {
    width: 200px;
    background-color: rgb(221, 195, 159);
}

.sidenav .mat-toolbar {
    background: inherit;
    height: 200px;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: black;
}

.bouton {
    position: absolute;
    right: 0;
    margin-right: 20px;
}

.bouton>button {
    margin-left: 20px;
}

.logo {
    width: 150px;
    border-radius: 100px;
    padding-top: 10px;
    padding-left: 10px;
}