<div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="100%">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Graphique des ventes</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <app-graphique-sale></app-graphique-sale>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex="100%">
            <mat-tab-group mat-align-tabs="center">
                <mat-tab label="Ventes"></mat-tab>
            </mat-tab-group>
        </div>
        <div fxFlex="100%">
            <app-crud-sale></app-crud-sale>
        </div>
    </div>
</div>