<mat-card>
    <form [formGroup]="Addform" (ngSubmit)="onSubmit(Addform.value)">
        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Nom</mat-label>
                        <input matInput formControlName="nom">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Prénom</mat-label>
                        <input matInput formControlName="prenom">
                    </mat-form-field>
                </td>
            </tr>
        </table>
        <p>
            <mat-form-field class="example-full-width">
                <mat-label>Addresse</mat-label>
                <textarea matInput formControlName="adresse"></textarea>
            </mat-form-field>
        </p>

        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>N° Tel 1</mat-label>
                        <input matInput formControlName="telephone_1">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>N° Tel 2</mat-label>
                        <input matInput formControlName="telephone_2">
                    </mat-form-field>
                </td>
            </tr>
        </table>
        <button type="submit" mat-button color="primary" [mat-dialog-close]="true">Ajouter</button>
    </form>
</mat-card>