<mat-card>
    <form [formGroup]="Editform" (ngSubmit)="onSubmit(IDProduit.value,quantiteProduit.value)">
        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>ID</mat-label>
                        <input matInput formControlName="IDProduit" value="{{dataStock.IDProduit}}" #IDProduit>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Quantité</mat-label>
                        <input matInput formControlName="quantiteProduit" value="{{dataStock.quantiteProduit}}" #quantiteProduit>
                    </mat-form-field>
                </td>
            </tr>
        </table>
        <button type="submit" mat-button color="primary" [mat-dialog-close]="true">Modifier</button>
    </form>
</mat-card>