<mat-card>
    <form [formGroup]="Editform" (ngSubmit)="onSubmit(Nom.value,Prenom.value,Adresse.value,Telephone_1.value,Telephone_2.value)">
        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Nom</mat-label>
                        <input matInput formControlName="nom" value="{{dataClient.nom}}" #Nom>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Prénom</mat-label>
                        <input matInput formControlName="prenom" value="{{dataClient.prenom}}" #Prenom>
                    </mat-form-field>
                </td>
            </tr>
        </table>
        <p>
            <mat-form-field class="example-full-width">
                <mat-label>Addresse</mat-label>
                <textarea matInput formControlName="adresse" value="{{dataClient.adresse}}" #Adresse></textarea>
            </mat-form-field>
        </p>

        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>N° Tel 1</mat-label>
                        <input matInput formControlName="telephone_1" value="{{dataClient.telephone_1}}" #Telephone_1>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>N° Tel 2</mat-label>
                        <input matInput formControlName="telephone_2" value="{{dataClient.telephone_2}}" #Telephone_2>
                    </mat-form-field>
                </td>
            </tr>
        </table>
        <button type="submit" mat-button color="primary" [mat-dialog-close]="true">Modifier</button>
    </form>
</mat-card>