<div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="50%">
            <mat-card class="example-card">
                <app-alertes-stock></app-alertes-stock>
            </mat-card>
        </div>
        <div fxFlex="50%">
            <app-crud-stock></app-crud-stock>
        </div>
        <div fxFlex="100%">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Graphique des stocks</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <app-graphique-stock></app-graphique-stock>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>