<h2>Alerte stock</h2>
<ng-container *ngFor="let item of data2">
    <ul>
        <li *ngIf="item">Attention le produit avec l'ID : {{item.IDProduit}} sera bientot en rupture</li>
    </ul>
</ng-container>