<mat-card>
    <form [formGroup]="Addform" (ngSubmit)="onSubmit(intitule.value,prix.value,datePeremption.value,dateLivre.value,quantite.value,codeBarre.value,origine.value)">
        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Nom</mat-label>
                        <input matInput formControlName="intitule" #intitule>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Code Barre</mat-label>
                        <input matInput formControlName="codeBarre" #codeBarre>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field>
                        <mat-label>Quantité</mat-label>
                        <input matInput formControlName="quantite" #quantite>
                        <span matSuffix>unitée(s)</span>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Prix</mat-label>
                        <input matInput formControlName="prix" #prix>
                        <span matSuffix>€</span>
                    </mat-form-field>
                </td>
            </tr>
        </table>
        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Périme le</mat-label>
                        <input matInput formControlName="datePeremption" [matDatepicker]="picker" #datePeremption>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker color="primary"></mat-datepicker>
                    </mat-form-field>
                </td>
            </tr>
        </table>

        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Livré le</mat-label>
                        <input matInput formControlName="dateLivre" [matDatepicker]="picker2" #dateLivre>
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2 color="primary"></mat-datepicker>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Provenance</mat-label>
                        <input matInput formControlName="origine" #origine>
                    </mat-form-field>
                </td>
            </tr>
        </table>
        <button type="submit" mat-button color="primary" [mat-dialog-close]="true">Ajouter</button>
    </form>
</mat-card>