<mat-card>
    <form [formGroup]="Addform" (ngSubmit)="onSubmit(Addform.value)">
        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Client</mat-label>
                        <input matInput formControlName="client">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Recettes</mat-label>
                        <input matInput formControlName="recettes">
                    </mat-form-field>
                </td>
            </tr>
        </table>
        <p>
            <mat-form-field class="example-full-width">
                <mat-label>Date</mat-label>
                <textarea matInput formControlName="date"></textarea>
            </mat-form-field>
        </p>

        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Heure</mat-label>
                        <input matInput formControlName="heure">
                    </mat-form-field>
                </td>
            </tr>
        </table>
        <button type="submit" mat-button color="primary" [mat-dialog-close]="true">Ajouter</button>
    </form>
</mat-card>