<mat-card class="example-card">

    <mat-card-title style="text-align: center;">Choix du client</mat-card-title>
    <mat-card-content>
        <mat-form-field class="content-card">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" #input>
        </mat-form-field>

        <table mat-table [dataSource]="dataSource" class="content-card">

            <ng-container matColumnDef="nom">
                <th mat-header-cell *matHeaderCellDef> Nom </th>
                <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
            </ng-container>

            <ng-container matColumnDef="prenom">
                <th mat-header-cell *matHeaderCellDef> Prénom </th>
                <td mat-cell *matCellDef="let element"> {{element.prenom}} </td>
            </ng-container>

            <ng-container matColumnDef="adresse">
                <th mat-header-cell *matHeaderCellDef> Adresse </th>
                <td mat-cell *matCellDef="let element"> {{element.adresse}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">Le client "{{input.value}}" n'existe pas</td>
            </tr>
        </table>
    </mat-card-content>
</mat-card>